@charset "utf-8";
/* CSS Document */

html{font-family:sans-serif;height:480px;}
body{width:100%;height:480px;font-size:13px;margin:0;padding:0;}
div.question{margin-bottom:40px;margin-top:50px;font-weight:bold;font-size:16px;}
div.question.sans_bottom{margin-bottom:10px;}
.left {float:left;}
.left.bulle {background-image:url(../img/bulle_gauche.jpg);background-repeat:no-repeat;width:141px;height:70px;text-align:center;padding-top:35px;}
.left.bulle.une_ligne{height:75px;padding-top:40px;}
.right {float:right;}
.right.bulle {background-image:url(../img/bulle_droit.jpg);background-repeat:no-repeat;width:141px;height:70px;text-align:center;padding-top:35px;}
.right.bulle.une_ligne{height:75px;padding-top:40px;}
.clear {clear:both;}

.btnouinon span{padding-right:100px;}
.radioaucentre{text-align:left;margin-left:30%;}
.radioaucentre input{margin-bottom:30px;}

form{text-align:center; margin-left:5%;margin-right:5%;}

input[type='range'] {
    -webkit-appearance: none !important;
    background:red;
    height:27px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:blue;
    height:10px;
    width:10px;
}

#emotion .input_hidden {
    position: absolute;
    left: -9999px;
}

#emotion .selected {
    background-color: #ccc;
}

#emotion label {
    display: inline-block;
    cursor: pointer;
}

#emotion label img {
    padding: 10px;
}


#slider-range{
	margin-top:30px;
	background: -webkit-linear-gradient(left, red , yellow, green); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, red , yellow, green); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, red , yellow, green); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, red , yellow, green); /* Standard syntax */
}

.bottomline{border-bottom:solid 1px grey;margin:20px 10px;}
.bottom{margin:20px 10px;}

.multi_radio{font-size:15px;}
.multi_radio p{margin-top:15px;margin-bottom:10px;}
#sous_stim input,#sans_stim input{margin-bottom:20px;}
#sans_titre,#sous_titre{font-isze:13px;font-weight:bold;}

div.suite{bottom:10%;width:100%;position: absolute;left:0;}
div.suite input{width:200px;height:80px;font-weight:bold;font-size:16px;}